# Force all Python files to be counted as Python
*.py linguist-language=Python

# Ignore static files, config, HTML, CSS, JS from language stats
/static/* linguist-vendored
/api/* linguist-vendored
/templates/* linguist-vendored
/public/* linguist-vendored
/dist/* linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
*.json linguist-vendored
*.bat linguist-vendored
*.sh linguist-vendored
*.txt linguist-vendored
*.md linguist-vendored
